/****** Object:  Database [MycologDB]    Script Date: 29.05.2026 16:09:07 ******/
CREATE DATABASE [MycologDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MycologDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MycologDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MycologDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MycologDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MycologDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MycologDB]
GO
/****** Object:  Table [dbo].[Cultures]    Script Date: 29.05.2026 16:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cultures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Species] [nvarchar](100) NOT NULL,
	[Strain] [nvarchar](100) NULL,
	[StartDate] [datetime] NOT NULL,
	[Substrate] [nvarchar](100) NULL,
	[Container] [nvarchar](50) NULL,
	[CurrentStage] [nvarchar](50) NULL,
	[Temperature] [int] NULL,
	[Humidity] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[IsHarvested] [bit] NOT NULL,
	[HarvestWeight] [decimal](10, 2) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cultures] ON 

INSERT [dbo].[Cultures] ([Id], [Species], [Strain], [StartDate], [Substrate], [Container], [CurrentStage], [Temperature], [Humidity], [Notes], [IsHarvested], [HarvestWeight], [CreatedAt]) VALUES (2, N'Рейши', N'Ganoderma lucidum', CAST(N'2026-04-14T13:13:45.390' AS DateTime), N'Опилки дуба', N'Банка 720мл', N'Плодоношение', 24, 75, N'Растёт медленно', 0, NULL, CAST(N'2026-05-09T13:13:45.390' AS DateTime))
INSERT [dbo].[Cultures] ([Id], [Species], [Strain], [StartDate], [Substrate], [Container], [CurrentStage], [Temperature], [Humidity], [Notes], [IsHarvested], [HarvestWeight], [CreatedAt]) VALUES (3, N'Львиная грива', N'Hericium erinaceus', CAST(N'2026-05-01T13:13:45.390' AS DateTime), N'Опилки бука', N'Мешок 5л', N'Мицелий', 20, 90, N'Растёт медленно', 0, NULL, CAST(N'2026-05-09T13:13:45.390' AS DateTime))
INSERT [dbo].[Cultures] ([Id], [Species], [Strain], [StartDate], [Substrate], [Container], [CurrentStage], [Temperature], [Humidity], [Notes], [IsHarvested], [HarvestWeight], [CreatedAt]) VALUES (5, N'Шиитаке', N'Белый', CAST(N'2026-05-09T00:00:00.000' AS DateTime), N'Опилки бука', N'Ящик', N'Мицелий', 22, 60, N'Эксперемент', 0, CAST(0.00 AS Decimal(10, 2)), CAST(N'2026-05-09T14:10:09.087' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cultures] OFF
GO
ALTER TABLE [dbo].[Cultures] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Cultures] ADD  DEFAULT ('Мицелий') FOR [CurrentStage]
GO
ALTER TABLE [dbo].[Cultures] ADD  DEFAULT ((0)) FOR [IsHarvested]
GO
ALTER TABLE [dbo].[Cultures] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE [master]
GO
